.vscode/**
client/src/**
server/src/**

client/node_modules/**
server/node_modules/**
node_modules/**

client/package-lock.json
server/package-lock.json

client/tsconfig.tsbuildinfo
server/tsconfig.tsbuildinfo

**/*.map

.gitignore
tsconfig.json
client/tsconfig.json
server/tsconfig.json
